# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
*.o
cmake-build-debug
a.out
.idea
/test/CMakeFiles/
/src/CMakeFiles/
!/src/CMakeFiles/
/test/Makefile
/test/cmake_install.cmake
/test/cryptoTest.cpp
/test/cryptopals.cbp
/src/CTestTestfile.cmake
/src/Makefile
/src/libcrypto.a
/src/cmake_install.cmake
/CMakeFiles/
/test/googletest/
/Makefile
/cmake_install.cmake
/cryptopal.cbp
/CMakeCache.txt
/cryptopals.cbp
